body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #bcd4de;
}

h1 {
  font-family: "Rubik Doodle Shadow";
  font-size: 40px;
  font-weight: bold;
  color: #404e5c;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.ask-img {
  height: 360px;
}